.header {
  background: #fff;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
  height: 4rem;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  &__navbar {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: auto;
    max-width: $max-width;
    padding: 0 2%;
  }

  &__brand {
    color: inherit;
    font-family: 'Noto Serif JP', serif;
    font-weight: bold;
    font-size: 1.8rem;
    text-decoration: none;

    &:visited {
      color: inherit;
    }

    &:hover {
      opacity: 0.6;
    }
  }

  &__menu {
    align-items: center;
    display: flex;
  }

  &__item {
    margin-left: 1rem;
  }
}
